[Unit]
Description=Force-disable PulseAudio

[Service]
ExecStart=/bin/bash -c "pulseaudio='/usr/bin/pulseaudio' && [ -f \"$pulseaudio\" ] && mv \"$pulseaudio\" \"$pulseaudio.bak\""
