[Unit]
Description=Force-disable PulseAudio

[Service]
ExecStart=/bin/bash -c "pulseaudio=$(which pulseaudio) && [ -f \"$pulseaudio\" ] && mv \"$pulseaudio\" \"$pulseaudio.bak\""

[Install]
WantedBy=multi-user.target
